---
import ThemeToggleButton from "./ThemeToggleButton";
import * as CONFIG from "../../config";

type Props = {
  editHref: string;
};

const { editHref } = Astro.props as Props;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL;
---

{showMoreSection && <h2 class="heading">Connect with me</h2>}
<ul>
  {
    editHref && (
      <li class={`header-link depth-2`}>
        <a
          href="https://www.linkedin.com/in/patrick-barber-326996146/"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
    )
  }
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class={`header-link depth-2`}>
        <a href="https://github.com/patbarber/pbblog" target="_blank">
          Github
        </a>
      </li>
    )
  }
</ul>
<div style="margin: 2rem 0; text-align: center;">
  <ThemeToggleButton client:visible />
</div>

<style>
  .edit-on-github {
    text-decoration: none;
    font: inherit;
    color: inherit;
    font-size: 1rem;
  }
</style>
